<% provide(:title, "詳細") %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status_i18n %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @post.priority_i18n %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @post.limit %>
</p>

<p>
  <strong>tag:</strong>
  <%= @post.tag_list%>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
